* {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    box-shadow: none !important;
}
.sunken-menu-contents{
    box-shadow: inset 1px 0 0 #eee !important;
}

.sunken-menu.vertical-right .sunken-menu-separator{
    border-bottom: #eee 1px solid !important;
    background-image:none !important;
}

li.ssh-key .ssh-key-state-indicator.not-recent,
.marketing-section-depth,
.enterprise .notification-indicator.contextually-unread,
.command-bar.in-repository .search-context-select-menu .select-menu-button,
.chromed-list-browser .button-pager:hover,
a.gollum-minibutton:visited,
.accordion .section-head,
.enterprise.marketing .header-logged-out,
.minibutton.primary.disabled:hover,
#gollum-editor .expanded a.button,
.kbd,
.hubbers-list-item .hubber-name,
.minibutton.danger.disabled:hover,
.dashboard-notice,
.full-commit .browse-button,
a.gollum-minibutton:visited:hover,
.notification-indicator .unread,
.flash-global.flash-error,
.pagination em.gap:hover,
a.commit-ref:hover,
.bootcamp ul li:hover,
.chromed-list-browser .actions,
.list-browser-filterbar,
.wiki-wrapper .wiki-auxiliary-content,
.command-bar.in-repository .search-context-select-menu .select-menu-button.selected,
.pagination em:active,
.pagination em,
.minibutton.danger:hover,
.flash-global.flash-warn,
.sunken-menu .sunken-menu-item.selected:after,
.sunken-menu.vertical-right .sunken-menu-contents:before,
.clone-url-button.selected>a:hover,
.file .view-modes,
.file .progress .progress-bar,
.marketing-section-enterprise,
.minibutton.zeroclipboard-is-active,
.progress-bar .progress,
.unsupported-browser,
.clone-url-button>a:active,
.upload-progress .upload-meter,
.marketing-section-enterprise .marketing-button,
kbd,
.minibutton.primary,
.notification-indicator.contextually-unread,
.pagination em.current:hover,
#gollum-editor a.gollum-minibutton:visited,
.chromed-list-browser .button-pager,
#gollum-editor a.gollum-minibutton:visited:hover,
.flash-global,
.minibutton.primary:hover,
.notification-indicator:hover .mail-status,
li.session-device .session-state-indicator.not-recent,
.redelivery-dialog.failed,
.minibutton,
.notification-indicator .mail-status,
#theme-action-bar,
.header-logged-in,
.enterprise .notification-indicator .mail-status,
.sunken-menu.vertical-right .sunken-menu-contents,
.bootcamp ul li,
.sunken-menu.vertical-right .sunken-menu-contents:after,
.commandbar .display .loading.selected,
.enterprise .in-repository .search-context-select-menu .minibutton.select-menu-button:hover,
.enterprise .in-repository .search-context-select-menu .minibutton.select-menu-button,
.fakelogin,
#gollum-editor .expanded a.button:hover,
.sunken-menu.vertical-right .sunken-menu-separator:before,
.clone-url-button>a,
.github-jobs-promotion p,
.enterprise .in-repository .search-context-select-menu .active .minibutton.select-menu-button,
.enterprise .notification-indicator .mail-status.unread,
.notification-indicator:hover .unread,
.enterprise .command-bar .message {
    background-image: none !important
}