* {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}
li.ssh-key .ssh-key-state-indicator.not-recent,
.prose-diff>.markdown-body>div.changed,
.button-group .minibutton+.minibutton,
.top-lists .capped-box .flash,
.date_selector.no_shadow,
.sidebar-labels .labels .label,
.accordion .section-head,
.auth-form form,
.date_selector,
.blog-feedback-header,
.file-box input.filename:focus,
.oauth-registered-application.pending-deletion,
.prose-diff>.markdown-body>del,
.wiki-wrapper .wiki-auxiliary-content,
.overall-summary.without-lang-stats,
.pagination em.current:hover,
.logged_out.enter-coupon .coupon-form-body,
.autocomplete-results,
.notification-indicator,
.enterprise .command-bar-form input[type="text"]:focus,
.avatar-stack.multiple-avatars .avatar:last-child,
.previewable-comment-form textarea.fullscreen-contents:focus,
.file .view-modes ul.view-modes-menu li:first-child,
.sunken-menu .sunken-menu-item.selected:after,
.minibutton.disabled:hover,
.oauth-application-policy li.removed,
input.tree-finder-input:focus,
.marketing-section-img,
.enterprise .notification-indicator .mail-status,
.minibutton:focus,
.command-bar:not(.command-bar-focus) input[type="text"],
.blankslate,
.focused .drag-and-drop,
.select-menu-modal,
.notification-indicator.contextually-unread,
.oauth-application-policy ul,
.date_selector .button,
.setup-wrapper .oauth-permissions,
li.session-device .session-state-indicator.recent,
.dragover .drag-and-drop,
.sunken-menu.vertical-right .sunken-menu-item.selected,
.commit-group-item .committer-avatar,
.more-repos,
.credit-card.amex .gladiator,
.overall-summary,
.notification-indicator .mail-status,
#theme-action-bar,
textarea,
.newsletter-frequency-choice .choice.selected label,
.clone-url-button.selected>a:hover,
.keyboard-mappings .key,
textarea:focus,
.org-repo-name .label,
li.ssh-key .ssh-key-state-indicator.recent,
.oauth-permissions-details.open a.minibutton,
.labels .label,
.dropdown-menu,
.enterprise .notification-indicator .mail-status.unread,
.cvv-hint-tooltip,
#user-links .name img,
.marketing-section-depth,
.enterprise .notification-indicator.contextually-unread,
.command-bar.in-repository .search-context-select-menu .select-menu-button,
.collection-page .side-collection-image,
.marketing-section-enterprise .marketing-button,
.theme-thumbnail a.selected img,
.button-group .minibutton+.minibutton.selected,
.codesearch-head #adv_code_search .search-page-input,
.clone-url-button>a:active,
.list-browser-filter-tabs.pjax-active .filter-tab.pjax-active,
.prose-diff>.markdown-body>ins,
.ace-twilight.ace_multiselect .ace_selection.ace_start,
.steps,
.notification-indicator .unread,
.clone-url-button+.clone-url-button>a:hover,
.showcase-featured .featured-grid-link,
.minibutton.zeroclipboard-is-active,
.is-stats .enterprise .header,
.historical-banner,
.enterprise .header-actions .button,
.flash,
#page-preview,
.avatar-upload .flash,
.form-signup-home dl.form input[type="password"]:focus,
.dashboards-overview-cards.capped-cards .blankslate,
.marketing-section-enterprise,
.bootcamp ul li,
.table-list-item.selected .table-list-cell-checkbox,
.clone-url-button+.clone-url-button>a:active,
.toolbar .button-group>.select-menu,
.typeahead,
.form-signup-home .button:focus,
.enterprise .command-bar-form input[type="text"],
.suggester,
#facebox .backup-list,
.documentation-results,
.avatar-stack.multiple-avatars:before,
.discussions .discussion .pull-info,
.clone-url-button+.clone-url-button>a,
#gollum-editor-help-list li a:hover,
.enterprise #user-links .name img,
.first-run-get-started,
.pagination em+span,
.button-group .minibutton+.minibutton:hover,
li.session-device .session-state-indicator.not-recent,
.heart,
.enterprise .in-repository .search-context-select-menu .active .minibutton.select-menu-button,
.audit-log-map,
.sunken-menu.vertical-right .sunken-menu-contents,
.setup-info-module,
.setup-form .setup-plans,
#gollum-editor-help-list li a.selected,
.application-show-group .dragover .logo-box,
.upload-progress,
.member-adder,
.file .view-modes ul.view-modes-menu li,
.collection-head,
.commandbar .display,
.coupons .coupon-form-body,
.blog-feedback,
.sunken-menu.vertical-right .sunken-menu-item:hover,
.table-list-item.unread .table-list-cell-checkbox,
.wiki-pages-box .wiki-more-pages-link,
.label-edit .label-colors .color-chooser li:hover,
.collection-card .collection-card-image,
.facebox-popup,
.fullscreen-overlay textarea {
    box-shadow: none !important
}
li.ssh-key .ssh-key-state-indicator.not-recent,
.marketing-section-depth,
.enterprise .notification-indicator.contextually-unread,
.command-bar.in-repository .search-context-select-menu .select-menu-button,
.chromed-list-browser .button-pager:hover,
a.gollum-minibutton:visited,
.accordion .section-head,
.enterprise.marketing .header-logged-out,
.minibutton.primary.disabled:hover,
#gollum-editor .expanded a.button,
.kbd,
.hubbers-list-item .hubber-name,
.minibutton.danger.disabled:hover,
.dashboard-notice,
.full-commit .browse-button,
a.gollum-minibutton:visited:hover,
.notification-indicator .unread,
.flash-global.flash-error,
.pagination em.gap:hover,
a.commit-ref:hover,
.bootcamp ul li:hover,
.chromed-list-browser .actions,
.list-browser-filterbar,
.wiki-wrapper .wiki-auxiliary-content,
.command-bar.in-repository .search-context-select-menu .select-menu-button.selected,
.pagination em:active,
.pagination em,
.minibutton.danger:hover,
.flash-global.flash-warn,
.sunken-menu .sunken-menu-item.selected:after,
.sunken-menu.vertical-right .sunken-menu-contents:before,
.clone-url-button.selected>a:hover,
.file .view-modes,
.file .progress .progress-bar,
.marketing-section-enterprise,
.minibutton.zeroclipboard-is-active,
.progress-bar .progress,
.unsupported-browser,
.clone-url-button>a:active,
.upload-progress .upload-meter,
.marketing-section-enterprise .marketing-button,
kbd,
.minibutton.primary,
.notification-indicator.contextually-unread,
.pagination em.current:hover,
#gollum-editor a.gollum-minibutton:visited,
.chromed-list-browser .button-pager,
#gollum-editor a.gollum-minibutton:visited:hover,
.flash-global,
.minibutton.primary:hover,
.notification-indicator:hover .mail-status,
li.session-device .session-state-indicator.not-recent,
.redelivery-dialog.failed,
.minibutton,
.notification-indicator .mail-status,
#theme-action-bar,
.header-logged-in,
.enterprise .notification-indicator .mail-status,
.sunken-menu.vertical-right .sunken-menu-contents,
.bootcamp ul li,
.sunken-menu.vertical-right .sunken-menu-contents:after,
.commandbar .display .loading.selected,
.enterprise .in-repository .search-context-select-menu .minibutton.select-menu-button:hover,
.enterprise .in-repository .search-context-select-menu .minibutton.select-menu-button,
.fakelogin,
#gollum-editor .expanded a.button:hover,
.sunken-menu.vertical-right .sunken-menu-separator:before,
.clone-url-button>a,
.github-jobs-promotion p,
.enterprise .in-repository .search-context-select-menu .active .minibutton.select-menu-button,
.enterprise .notification-indicator .mail-status.unread,
.notification-indicator:hover .unread,
.enterprise .command-bar .message {
    background-image: none !important
}