.box-header,
.tabnav-tab.selected,
input[type="text"],
#adv_code_search .search-page-label,
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
.button,
.minibutton,
.feed-icon a,
.form-checkbox label em.highlight,
.fieldgroup div.error,
.form-warning,
.date_selector,
.jcrop-light .jcrop-handle,
.jcrop-dark .jcrop-handle,
.tint-box,
#contributors .capped-card .avatar,
kbd,
.graph-canvas .activity,
.graph-canvas .error,
.svg-tip,
.callout,
.featured-callout,
.featured-callout pre.console,
.inset-callout,
.infotip,
.dashboard-notice,
.dashboard-notice .inset-figure,
.kbd,
ul.color-label-list .color,
.markdown-body code,
.markdown-body tt,
.markdown-body .highlight pre,
.markdown-body pre,
.hidden-text-expander a,
.button-group .button,
.button-group .minibutton,
.button-group .button-outline,
.button-outline,
.tabnav-tab.selected,
.tabnav-widget.search .fieldwrap,
.tabnav-widget.search input,
.tabnav-widget.search .minibutton,
ul.filter-list .filter-item,
.menu,
.accordion .section-head img,
.sunken-menu.vertical-right .sunken-menu-item.selected:after,
.flash,
.tooltipped:after,
.counter,
.select-menu-loading-overlay,
.select-menu-modal,
.select-menu-text-filter input,
.select-menu-tabs a,
.select-menu-item.last-visible,
.select-menu-list:last-child .select-menu-item:last-child,
.select-menu-button-gravatar img,
.select-menu-item-gravatar img,
.auth-form form,
.auth-form-header,
.auth-form-body,
.two-factor-help,
.autocomplete-results,
.autocomplete-item .state,
.suggester,
.file-box input.filename,
.blob-filter[type=text],
.file-commit-form .commit-form-avatar,
.box-header,
.box-body-no-header,
.branch-action-icon,
.branch-action-body,
.recently-touched-branches,
.branch-name,
.range-editor span.flag,
.range-editor .range,
ul.comparison-list,
.overall-summary.comparison-summary {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important
}
.button,
.minibutton {
    background-image: none !important
}